*.csproj.user
*.msi
*.pyc
*.vs
.claude/
.vscode
build/__pycache__
build/CMake
build/linux
build/win
build/windows
build_output
BuildOutput
CLAUDE.md
documentation/build
external/adl
external/adlutil
external/appsdk
external/code_sanitizer
external/device_info
external/dynamic_library_module
external/isa_spec_manager
external/isa_spec_xml
external/isa_spec_xml_rc
external/json
external/miniz
external/QtCommon
external/qt_common
external/qt_isa_gui
external/rga_internal_utils
external/third_party
external/tsingleton
external/update_check_api
obj
output
output_test
RGA-Installer-cache
source/common/vulkan_layer_launcher/RGALayerLauncher/bin
source/radeon_gpu_analyzer_gui/external
source/utils/vulkan/backend/build
tests/
